[submodule "themes/tranquilpeak-theme"]
	path = themes/tranquilpeak-theme
	url = git@github.com:kakawait/hugo-tranquilpeak-theme
[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = git@github.com:kakawait/hugo-tranquilpeak-theme.git
